# dependencies
node_modules
.wrangler
.dev.vars

# prod
dist
build

# logs
*.log
npm-debug.log*

# local persistence (wrangler)
.wrangler/state

# editor
.vscode/*
!.vscode/extensions.json
.idea/
.DS_Store