# dependencies
node_modules
.wrangler
.dev.vars

# generated per-instance production config (created by `npm run setup`)
wrangler.prod.jsonc

# prod
dist
build

# logs
*.log
npm-debug.log*

# local persistence (wrangler)
.wrangler/state

# editor
.vscode/*
!.vscode/extensions.json
.idea/
.DS_Store